langchain
numpy==1.23  # assurez-vous que numpy est aussi spécifié
streamlit==1.18.0  # ou la version que vous utilisez
openai
pandasai
streamlit-chat
tiktoken
faiss-cpu
python-dotenv
streamlit-chat 
numpy
